.three-layout {
  display: flex;
  height: 300px;
  border: 2px solid ;
}

.three-layout .aside-left {
  border: 2px solid red;
  order: 1;
}

.three-layout .main {
  order: 2;
  /* 可以增长,可以伸缩,auto */
  flex: 1 1 auto
}

.three-layout .aside-right { 
  order: 3;
  border: 2px solid green;
}


